<div class="container">
  <h2 id="title">ember-scroll-to</h2>

  <nav class="sidebar">
    <h2>Page</h2>

    <ul>
      <li>
        Section 1
        <ul>
          <li>Article A</li>
          <li>Article B</li>
        </ul>
      </li>
      <li>
        Section 2
        <ul>
          <li>Article A</li>
          <li>Article B</li>
        </ul>
      </li>
      <li>Section 3</li>
      <li>Section 4</li>
    </ul>

    <h2>Contextual</h2>

    {{#scroll-to-wrapper name="ctx" class="contextual" as |scrollTo|}}
      {{scrollTo.section name="c1" class="section"}}
      {{scrollTo.section name="c2" class="section"}}
      {{scrollTo.section name="c3" class="section"}}
    {{/scroll-to-wrapper}}
  </nav>

  <div class="main">
    {{#scroll-to-wrapper name="page" on="window" as |scrollTo|}}
      {{scrollTo.section name="1" class="section"}}
      {{scrollTo.section name="1-A" class="section"}}
      {{scrollTo.section name="1-B" class="section"}}

      {{scrollTo.section name="2" class="section"}}
      {{scrollTo.section name="2-A" class="section"}}
      {{scrollTo.section name="2-B" class="section"}}
    {{/scroll-to-wrapper}}
  </div>
</div>

{{outlet}}
