<nav class="sidebar">
  <h2>Page</h2>

  {{#scroll-to-nav context="page" as |pageNav|}}
    <ul>
      <li>{{#pageNav.scroll-to section="1"}}Section 1{{/pageNav.scroll-to}}</li>
      <li>{{#pageNav.scroll-to section="2"}}Section 2{{/pageNav.scroll-to}}</li>
    </ul>
  {{/scroll-to-nav}}

  <h2>Contextual</h2>
</nav>

<div class="main">
  {{#scroll-to-wrapper context="page" on="window" as |pageContext|}}
    {{#pageContext.section name="1" class="section contextual"}}
      {{#scroll-to-nav context="local" tagName="ul" class="contextual-nav" as |localNav|}}
        <li>{{#localNav.scroll-to section="A"}}A{{/localNav.scroll-to}}</li>
        <li>{{#localNav.scroll-to section="B"}}B{{/localNav.scroll-to}}</li>
        <li>{{#localNav.scroll-to section="C"}}C{{/localNav.scroll-to}}</li>
      {{/scroll-to-nav}}

        {{#scroll-to-wrapper context="local" class="contextual-inner" as |localContext|}}
          {{localContext.section name="A" class="section"}}
          {{localContext.section name="B" class="section"}}
          {{localContext.section name="C" class="section"}}
        {{/scroll-to-wrapper}}
    {{/pageContext.section}}

    {{pageContext.section name="1A" class="section"}}
    {{pageContext.section name="1B" class="section"}}
    {{pageContext.section name="1B1" class="section"}}
    {{pageContext.section name="2" class="section"}}
  {{/scroll-to-wrapper}}
</div>

